// General
#app-wrapper
    height: 100%
    position: relative


// Bombs
#bombs-wrapper
    bottom: 0
    left: 0
    overflow: hidden
    position: absolute
    right: 0
    top: 0


// Bins
#bins-wrapper
    bottom: 5%
    display: flex
    height: 15%
    justify-content: space-evenly
    left: 0
    min-height: 50px
    position: absolute
    right: 0

.bin
    height: 100%
    max-width: 150px
    width: 100%

#bins-counter
    bottom: 5px
    font: 18px sans-serif
    position: absolute
    right: 5px


// Score
#score
    font: 18px sans-serif
    left: 5px
    position: absolute
    top: 2px


// Reset
#reset-button
    position: absolute
    right: 0
    top: 0
    button
        background: #f82952
        border: 0
        color: #fff
        cursor: pointer
        display: block
        font: 14px sans-serif
        padding: 4px 10px
        &:focus
            outline: 0
