.bomb
    border-radius: 50%
    height: 80px
    position: absolute
    width: 80px
    top: 0

    span
        background: #ffa545
        border-radius: 50%
        font: 16px/28px sans-serif
        height: 30px
        position: absolute
        right: 0
        text-align: center
        top: 0
        width: 30px
